.button {
   font-family: inherit;
   font-style: normal;
   font-weight: 400;
   color: var(--white-color);
   border: none;
   border-radius: 29px;
   transition: background 0.25s;
   cursor: pointer;
}

.small {
   font-size: 16px;
   border-radius: 29px;
   padding: 10px 25px;
}

.big {
   font-size: 15px;
   text-transform: uppercase;
   padding: 20px 60px;
}

.accent {
   background: var(--primary-color);
}

.accent:hover {
   background: var(--primary-hover-color);
}
